<!-- user submits a link and recipe is created -->

<%= form_for @recipe do |f| %>
    <p>
    <%=f.label :title %>
    <%=f.text_field :title %>
    </p>
    <p>
    <%=f.label :instructions %>
    <%=f.text_area :instructions %>
    </p>
   
<%= f.collection_check_boxes :ingredient_ids, Ingredient.order(:name), :id, :name do |i| %>
  <%= i.check_box %> 
  <%= i.label %> <br>
<% end %> 
    <p>
    <%= render :partial => 'ingredients/form'%>
    </p>
    <%= f.submit "Create Recipe" %>
<% end %>