<!-- user submits a link and recipe is created -->
<!-- accepts nested attributes for recipe_ingredients -->

<%= form_for @recipe do |f| %>
    <p>
    <%=f.label :title %>
    <%=f.text_field :title %>
    </p>
    
    <p>
    <%=f.label "Paste Source Link Here (if applicable):" %>
    <%=f.text_field :source %>
    </p>

    <p>
    <%=f.label :instructions %>
    <%=f.text_area :instructions, :rows => 4, :cols => 50 %>
    </p>

    <h3>Ingredients</h3>
    <p>
    <%= f.fields_for :recipe_ingredients do |r| %>
      
      <%= r.label :amount %>
      <%= r.text_field :amount, multiple: true %>
        <%= r.fields_for :ingredient, r.object.build_ingredient do |i|%>
          <%= i.label :name %>
          <%= i.text_field :name %><br>
        <% end %>
    <% end -%>
   
    </p>
    <%= f.submit 'Add Ingredient', :name => "add_ingredient" %>
    <%= f.submit "Create Recipe" %>
    </p>
<% end %>
