<h1>Recipes</h1>

<div class="center">
<%=form_tag('/recipes', method: 'get') do %>
<%=label_tag(:q, "Filter by Ingredient:") %><br>
<%=text_field_tag(:q) %>
<%= submit_tag("Search")%>
<% end %>
</div>

<% if !@recipes.empty? %>
    <% @recipes.each do |r| %>
        <h4><%= link_to r.title.titlecase, r %></h4>
    <% end %>
<% else %>
    There are no recipes containing <%="#{params[:q]}"%>.<br>
    Search for another ingredient or create a <%= link_to "new recipe", new_recipe_path %>
<% end %>
    