<h1>Recipes</h1>


<div class="center">
    <%= form_tag(recipes_path, method: 'get') do %>
        <div id="search-data" class="form-search search-data">
            <%= text_field_tag :q, nil, autocomplete: :on, class: "form-control search-input", placeholder: "Filter by Ingredient" %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>


<% if !@recipes.empty? %>
    <% @recipes.each do |r| %>
        <h4><%= link_to r.title.titlecase, r %></h4><br>
    <% end %>
<% else %>
    There are no recipes containing <%="#{params[:q]}"%>.<br>
    Search for another ingredient or create a <%= link_to "new recipe", new_recipe_path %>
<% end %>
    