
<p>
<div class="form-inline">
    <%= form_tag(recipes_path, method: 'get') do %>
        <div id="search-data" class="form-search search-data">
            <%= collection_select @recipe, :category, Recipe.all_categories, :category, :category, {prompt: "Select a Category"}, {class: "form-control"}%>
            <%= submit_tag "Search", class: "btn btn-dark my-2 my-sm-0" %>
        </div>
    <% end %>
</div>
</p>
    <% if !@recipes.empty? %>
        <% @recipes.each do |r|%>
            <%= render partial: 'recipe_grid', locals: {r: r} %>
        <% end %>
    <% else %>
        There are no recipes containing <%="#{params[:q]}"%>.<br>
        Search for another ingredient or create a <%= link_to "new recipe", new_recipe_path %>
    <% end %>