<%= render partial: "layouts/error", locals: {object: @user}  %>
   

  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
  <div class="form-group">
        <%= f.label :title, class:"col-sm-2 col-form-label" %>
        <%= f.text_field :title, class:"form-control" %>
      </div>
<%= form_for @user do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :username %> <br>
    <%= f.text_field :username %> <br>
    <%= f.label :email %> <br>
    <%= f.email_field :email %> <br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.submit "Sign Up"%>
<% end %>