<p> <%= display_name %> </p>
<p> <%= edit_username %> </p>


<p> <%= link_to 'Reviews', user_reviews_path(@user), class:"btn btn-primary" %> </p>
<div style="width: 100%">
    <div style="width: 50%; float: left"> 
        <h4> Favorite Recipes: </h4>
        <p><%= display_favorite_recipes %></p>
    </div>

    <div style="width: 50%; float: right"> 
        <h4> Created Recipes: </h4>
        <% if created_recipes != []%>
            <% created_recipes.all_categories.each do |r| %>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><%=r.category%></h4>
                        <% created_recipes.search_by_category("#{r.category}").each do |c| %>
                            <%=link_to c.title, c %> | 
                        <% end %>
                    </div>
                
                </div>
            <% end %>
        <% else %>
            <p><h5> None</h5></p>
        <% end %>
    </div>
</div>

