<!DOCTYPE html>
<html>
  <head>
  
    <title>Drachenfutter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-button" href="<%= root_path %>"> Drachenfutter </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= recipes_path %>">Browse Recipes
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_path(current_user) %>">My Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to " Log Out ", logout_path, method: 'delete' %></a>  
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= signup_path %>"> Sign Up </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= login_path %>"> Log In </a>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Browse By Category</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Dessert</a>
            <a class="dropdown-item" href="#">Sides</a>
            <a class="dropdown-item" href="#">Dinner</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else</a>
          </div>
        </li>
      </ul>
      <div class="form-inline">
        <%= form_tag(recipes_path, method: 'get') do %>
          <div id="search-data" class="form-search search-data">
            <%= text_field_tag :q, nil, autocomplete: :on, class: "form-control mr-sm-2", placeholder: "Enter up to 3 ingredients separated by a comma)" %>
            <%= submit_tag "Search by Ingredient", class: "btn btn-secondary my-2 my-sm-0" %>
          </div>
        <% end %>
      </div>
    </div>
</nav>

    </nav>
      <div>
        <%= flash[:message] %>
        <%= alert %>
      </div>
        <%= yield %>
    </div>
  </body>
 
</html>
